* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(11, 11, 26);
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Poppins MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgb(11, 11, 26);
    box-shadow: 0 0px 10px #fff;
}

header .logo {
    font-size: 35px;
    font-weight: bold;
    color: yellow;
}

header .logo img {
    width: 80px;
    cursor: pointer;
}

header nav {
    padding-left: 200px;
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav a {
    transition: 0.3s ease-in-out;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

header nav a:hover {
    transform: scale(1.1);
    color: yellow;
}

header .stylediv {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .stylediv .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}

header .stylediv .search input {
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
}

header .stylediv .cartCount i {
    font-size: 25px;
}

header .stylediv .cartCount span {
    position: absolute;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: -40px;
    margin-left: 17px;
}

/* home page style */

.home{
    width:100%;
    height:100vh;
    /* padding-top:0px; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:30px;
    gap:50px;
}

.home .left{
    margin-left:150px;
}

.home .left h1{
    color:yellow;
    font-size:35px;
}

.home .left h2{
    font-size:75px;
}

.home .left button{
    margin-top:20px;
    border:none;
    outline:none;
    padding:7px 15px ;
    background-color:yellow;
    border-radius:10px;
    cursor: pointer;
    transition:0.3s ease-in-out;
    font-size:24px;
    font-weight:bold;
    color:#000;
}

.home .left button:hover{
    transform:scale(1.1);
}

.home .right img{
    width:500px;
    /* margin-right:200px; */
    padding-top:30px;
}


/* about style page */
.about{
    width:100%;
    height:100vh;
    padding-top:110px;
}

.about .heading{
    text-align:center;
}

.about  .heading h4{
 color:yellow;
 padding:5px 0px;
}

.about-content .top-about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding:0px 40px;
    padding-top:20px;
}

.about .about-content .top-about .t-card{
    border:1px solid #fff;
    transition:0.3s ease-in-out;
    border-radius:7px;
    padding:20px;
    box-shadow:0 0 5px #fff;
    width:400px;
    cursor: pointer;
    /* background-color:whitesmoke; */
}

.about .about-content .top-about .t-card:hover{
    transform:scale(1.01);
    box-shadow:0 0 10px yellow;
}

.about .about-content .top-about .t-card h1{
    color:yellow;
    font-size:20px;
    padding:5px 0px;
    font-weight:bold;
}

.about .about-content .top-about .t-card p{
    font-size:15px;
    font-weight:400;
}

.about .about-content .bottom-about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding-top:80px;
}

.about .about-content .bottom-about .b-card{
    border:1px solid #fff;
    border-radius:10px;
    padding:10px;
    box-shadow:0 0 3px #fff;
    transition:0.3s ease-in-out;
    cursor: pointer;
    width:300px;
    text-align:center;
    height:100px;
}

.about .about-content .bottom-about .b-card:hover{
    transform:scale(1.01);
    box-shadow:0 0 10px yellow;
}

.about .about-content .bottom-about .b-card h2{
    padding:8px 0px;
}
.about .about-content .bottom-about .b-card h3{
    color:yellow;
}


/* product page style  */

.product{
    width:100%;
    height:100vh;
    padding-top:120px;
}

.product h1{
    text-align:center;
    padding-bottom:10px;

}

.product  .product-list{
    display:flex;
    padding-top:50px;
    align-items:center;
    justify-content:center;
    gap:50px;
}

.product .product-list .card{
    border:2px solid #fff;
    border-radius:10px;
    width:300px;
    transition:0.3s ease-in-out;
    /* padding:10px; */
    height:400px;
}


.product .product-list .card:hover{
    box-shadow:0 0 10px #fff;
}

.product .main-product .product-list .card img{
   width:297px;
   height:200px;
   border-radius:7px;
}

.product .product-list .card h2{
    font-size:17px;
    padding:10px 10px;
}

.product .product-list .card p{
    padding:0px 10px;
    padding-bottom:10px;
    font-size:13px;
}

.product .product-list .card .pc{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 10px;
}
.product .product-list .card .pc .price{
  color:yellow;
  font-weight:bold;
  font-size:25px;
}
.product .product-list .card .pc button{
  background-color:none;
  padding:10px;
  border:none;
  cursor: pointer;
  transition:0.3s ease-in-out;
  box-shadow:0 0 10px yellow;
  outline:none;
  border-radius:50%;
}
.product .product-list .card .pc button:hover{
  box-shadow:0 0 10px #fff;

}