* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(11, 11, 26);
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Poppins MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgb(11, 11, 26);
    box-shadow: 0 0px 10px #fff;
}

header .logo {
    font-size: 35px;
    font-weight: bold;
    color: yellow;
}

header .logo img {
    width: 80px;
    cursor: pointer;
}

header nav {
    padding-left: 200px;
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav a {
    transition: 0.3s ease-in-out;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

header nav a:hover {
    transform: scale(1.1);
    color: yellow;
}

header .stylediv {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .stylediv .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}

header .stylediv .search input {
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
}

header .stylediv .cartCount i {
    font-size: 25px;
}

header .stylediv .cartCount span {
    position: absolute;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: -40px;
    margin-left: 17px;
}

/* home page style */

.home{
    width:100%;
    height:100vh;
    /* padding-top:0px; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:30px;
    gap:50px;
}

.home .left{
    margin-left:150px;
}

.home .left h1{
    color:yellow;
    font-size:35px;
}

.home .left h2{
    font-size:75px;
}

.home .left button{
    margin-top:20px;
    border:none;
    outline:none;
    padding:7px 15px ;
    background-color:yellow;
    border-radius:10px;
    cursor: pointer;
    transition:0.3s ease-in-out;
    font-size:24px;
    font-weight:bold;
    color:#000;
}

.home .left button:hover{
    transform:scale(1.1);
}

.home .right img{
    width:500px;
    /* margin-right:200px; */
    padding-top:30px;
}
